@charset "utf-8";
/* CSS Document */
body{
	font-family:"華康中圓體";
}
.page{
	min-height:1100px;
	padding-top:100px;
	width:100vw;
}
.icon{
	position:absolute; top:-5px;
}
.menu{
	position:relative;
	z-index:10
}
.menu > aside{
	position:fixed;
	width:300px;
	right:-300px;
	top:0px;
	height:1000px;
	background-color:rgba(51,51,51,.8);
}
.menu > aside ul{
	position:absolute;
	right:120px;
	top:60px;
	margin:0px;
	padding:0px;
}
.menu > aside li{
	text-align:right;
	font-size:20px;
	color:#FFF;
	list-style:none;
	margin-top:20px;
}
.menu > aside li:hover{
	color:#FF0;
}
.menu > aside button{
	cursor:pointer;
	outline:none;
	margin:0px;
	padding:0px;
	position:absolute;
	top:3px;
	right:10px;
	width:50px;
	height:50px;
}
.logomove{
	-webkit-animation:in 8s;
	width:100px;
	height:100px;
	position:absolute;
	top:650px;
	right:30px;
}
.logo{
	-webkit-animation:logo 8s;
}
@keyframes logo{
	0%{transform:scale(0.8,0.6)}
	10%{transform:scale(0.8,0.8)}
	20%{transform:scale(0.8,0.6)}
	30%{transform:scale(0.8,0.8)}
	40%{transform:scale(0.8,0.6)}
	45%{transform:rotate(0deg) scale(0.8,0.8)}
	100%{transform:rotate(1080deg) scale(1,1)}
}
@keyframes in{
	0%{transform:translate(-1200px,-300px)}
	10%{transform:translate(-1200px,-500px)}
	20%{transform:translate(-1200px,-300px)}
	30%{transform:translate(-1200px,-500px)}
	40%{transform:translate(-1200px,-300px)}
	48%{transform:translate(-1200px,-300px)}
	100%{transform:translate(0px,0px)}
}
#sec01{
	background-image:url(../img/bk1.jpg);
}
.offset-3 {
    margin-left: 0%;
}
.title{
}
.content{
    margin: 0 auto 0;
    width: 80%;
}
.about:hover .all{
	transform:rotateY(180deg);
}
.all, .fon, .back{
	height:360px;
	width:300px;
}
.back{
	transform:rotateY(180deg);
}
.fon, .back{
	backface-visibility:hidden;
	position:absolute;
	top:0px;
	left:0px;
}
.back{
	transform:rotateY(180deg);
}
.all{
	transition:0.6s;
	transform-style:preserve-3d;
	position:relative;
}
.about{
	perspective:1000px;
	transition:1s;
	display:block;
}
#story{
	width:350px;
	padding:25px;
	height:710px;
	background-color:rgba(255,255,255,.8);
	border-radius:10px;
}
.sty{
	border-radius:10px;
	margin-top:10px;
	overflow:hidden;
	height:200px;
	width:300px;
}
#sec02{
	background-image:url(../img/bk2.jpg);
}
.sp{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.crd{
	margin:30px;
	padding:20px;
	width:340px;
	border-radius:10px;
	background-color:#d6d6d6;
	box-shadow:2px 5px 10px rgba(0,0,0,.25)
}
.crdimg{
	overflow:hidden;
	border-radius:10px;
}
.img{
	transition:all ease-out 5s;
}
.img:hover{
	transform:scale(1.5,1.5);
}
.crdtext{
	border-radius:10px;
	overflow:hidden;
}
#sec03{
	background-image:url(../img/bk3.jpg);
}
#sec04{
	background-image:url(../img/bk4.jpg);
}
#sec05{
	background-image:url(../img/bk5.jpg);
}
#sec06{
	background-image:url(../img/bk6.jpg);
}
.fr{
	border:none;
	border-radius:5px;
	color:#FFF;
	padding:5px;
	background-color:#06F;
}
.p{
	width: 400px;
	height:500px;
	border-radius:20px;
	background-color:#e6e6e6;
	margin:20px;
}
@media (max-width: 1024px) { 
}

@media (max-width: 768px) { 
	.RWD{
		display: none;
	}
}

@media (max-width: 480px) { 
	.RWD{
		display: none;
	}
	#story {
		width: 100%;
		margin: 10px 0;
	}
	.sty {
		width: 100%;
	}
	.p{
		width: 80%;
		height:500px;
		border-radius:20px;
		background-color:#e6e6e6;
		margin:20px;
	}
	p img {
		width: 8%;
		height: auto; /* 保持圖片比例 */
		max-width: 100%; /* 確保圖片不會超過容器 */
	}
}
